.showcase{
    &__head{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 96px auto 48px;

        &__h2{
            text-align: center;
            font-size: 30px;
            line-height: 36px;
            color: #222222;
            margin-bottom: 6px;
        }

        &__p{
            text-align: center;
            font-size: 14px;
            line-height: 17px;
            color: #9F9F9F;;
        }
    }

    &_i{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__card{
        height: 581px;
        width: 360px;
        position: relative;
        
        &__img_box{
            position: relative;
            z-index: 1;
  
            width: 360px;
            height: 420px;


            &__img{
                position: absolute;
                z-index: 4;
                width: 360px;
                height: 420px;
                
            }

            &__browse{
                position: absolute;
                z-index: 3;

                width: 138px;
                height: 43px;
                left: 111px;
                right: 111px;
                top: 188.5px;
                display: flex;
                justify-content: center;
                border: 1px solid #FFFFFF;;

                &__text{
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;

                    &_icon{
                        height: 24px; 
                        width: 26px;
                        margin-right: 11px;
                    }
                }
            }

        }

        &__img_box:hover  &__img_box__img{
            transition: 3s;
            transform: rotateY(180deg);
            filter: brightness(50%);
            z-index: 2;
        }


        &__h3{
            margin: 26px 0 12px 18px;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            text-transform: uppercase;
        }

        &__p1{
            margin: 12px 0 18px 16px;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
        }

        &__p2{
            margin: 18px 0 0 20px;
            font-size: 16px;
            line-height: 19px;
            color: $rose_color;
        }

    }


    &__link{
        display: flex;
        justify-content: center;
    }


    &__browse{
        margin: 48px auto 95px;
        padding: 15px 39px;
        font-size: 16px;
        line-height: 19px;
        background-color: #F26376;
        border: 1px solid #F26376;
        color: #E5E5E5;
    }

    &__link{
        text-decoration:none;
    }

    &__link:hover > &__browse{
        color: #F26376;
        background-color: #E5E5E5;
    }

}