$header_padings: 19px;
$rose_color: #F16D7F;




$media_width: 1140px;



@media (min-width: 768px) and (max-width: 376px) {
    $media_width:767px;
}


@media (min-width: 376px) {
    $media_width:375px;
    
}